@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
  font-family: Outfit;
}

select,input,textarea{
  border: 1px solid #888888;
  outline-color: #ac6c6c;
  border-radius: 4px;
}

.active{
  background-color: rgb(255, 208, 208);
  border-color: rgb(204, 129, 140);
}